@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

/* mobile view only */
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

.content{
    margin-left: 300px;
    margin-top: 10px;
}

input , select {
  width: 300px;
  padding: 6px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  color: rgb(63, 62, 62);
}

option {
  padding: 10px;
  background-color: white;
  color: rgb(63, 62, 62);
}

option:hover {
  background-color: #4ade80;
  color: white;
}

.popup input, .popup textarea , .popup select{
  background-color: #E3E3E3;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px;
  color: #363333;
}